*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

[class*='col-']{
    float: left;
    border: 1px solid red;
}
.row:after{
    content: '';
    clear: both;
    display: block;
}

.container{
    width: 95%;
    height: auto;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.h-50{height: 50px;}
.h-100{height: 100px;}
.h-150{height: 150px;}
.h-200{height: 200px;}
.h-250{height: 250px;}
.h-300{height: 300px;}
.h-350{height: 350px;}
.h-400{height: 400px;}
.h-450{height: 450px;}
.h-500{height: 500px;}

.bg-light-dark{background-color: rgb(22, 16, 16);}
.bg-light{background-color: #F7F8FA}
.bg-black{background-color: black;}
.bg-yellow{background-color: yellow;}
.bg-sky{background-color:rgb(2, 218, 238);}
.bg-red{background-color: red;}

.text-white{color: white;}
.text-light{color:rgb(255, 255, 255)}
.text-black{color: black;}
.text-grey{color: #9AA1A9}
.text-sky{color: #13A0B2;}
.text-yellow{color:#F6BB19;}

.text-right{text-align: right;}



.float-left{float: left;}
.float-right{float: right;}

.font-sans{font-family: sans-serif;}

.font-bold{font-weight: bold;}

.py-10{padding-top: 10px; padding-bottom: 10px;}
.py-50{padding-top: 50px; padding-bottom: 50px;}
.pr-10{padding-right:10px ;}
.pr-30{padding-right: 30px;}
.pl-50{padding-left: 50px;}
.pb-10{padding-bottom: 10px;}

.mr-5{margin-right: 5px;}
.ml-5{margin-left: 5px;}
.ml-10{margin-left: 10px;}
.mr-10{margin-right: 10px;}
.mt-40{margin-top: 40px;}
.mb-20{margin-bottom:20px;}

.header-content{
    float: right;
    padding-top: 4px;
    padding-bottom: 5px;
    
}
.header-content p{
    padding-left: 7px;
}
.header-content-line{
    border: 1px solid rgb(200, 187, 187);
    height: 35px;
    width:1px;
    box-shadow: 1px 1px 1px black;
   
}
.banner{
    background-image: url("../img/1.jpg");
    background-size:cover ;
    height: 450px;
}
.menu{
    float: left;
}
.menu ul{
    list-style-type: none;
    float: left;
    background-color:#13A0B2;
}
.menu ul li{
    float: left;
    width: 106px;
}
.menu ul li:last-child{
    background-color: rgb(255, 228, 77);
}
.menu ul li:last-child a{
    color: black;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    padding-top:10px ;
    text-transform: uppercase;
    font-size: small;
    font-family: sans-serif;
    font-weight: bold;
}
.banner-content-wrapper{
    width: 37%;
    padding: 10px;
    margin-top: 130px;
    margin-left: 350px;
    color: white;
}
.banner-content-line{
    width: 110px;
    height: 2px;
    background-color:rgb(255, 251, 0);
    margin-top: 15px;
    margin-bottom: 15px;
}
.banner-content-wrapper p{
    font-style: italic;
    margin-bottom: 25px;
}
.btn{
   
    text-decoration: none;
    padding: 10px ;
    text-transform: uppercase;
    border-radius: 5px;
}
.my-icon{
    margin-left: 10px;
    border-left: 1px solid grey;
    padding-left: 10px;
}

.service-heading h1{
    border-right: 1px solid rgb(0, 153, 255);
    padding-right: 10px;
    text-transform: uppercase;
    font-family: sans-serif;
}
.service-content p{
    padding-left: 10px;
}

.service-content-wrapper{
    position: relative; 
    
    
} 
.service-content-image{
    width: 30%;
    position: absolute;
    left: 30px;
    z-index: 999;
    margin-top: 20px;
   background-color: white;
   padding:6px 5px 2px 8px;
}
   
.service-content-image img{
    width: 100%;
}
    

.service-content-text{
    width: 70%;
    background-color: #FDFDFD;
    font-family: sans-serif;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 12px;
    box-shadow: 0px 0px 5px grey;
    position: relative;
    left: 146px;
    height: 170px;
}
.line{
    height: 1px;
    width: 15%;
    border: 1px solid #F5BA17;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* about section */
.about-image{
    height: 450px;
    background-image: url("../img/5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 10px 10px 0;
    position: relative;
}
.about-border{
    height: 100%;
    border: 1px solid white;
    border-left:0;
}
.about-content{
    background-color: #12A0B1;
    width:40%;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    font-family: sans-serif;
    position: absolute;
    right: 0;
    top:60px;
}
.about-side{
    background-image: url("../img/61.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;

}
.about-heading{
    padding-top: 50px;
    padding-left: 30px;
} 
.about-line{
    height: 1px;
    width: 10%;
    border: 1px solid #F5BA17;
    margin-top: 3px;
    margin-bottom: 40px;
    margin-left: 35px;
}
.about-paragraph{
    padding-left: 40px;
    margin-bottom: 20px;
    padding-right: 50px;
    color:#9AA1A9 ;
}
.about-footer{
   padding-left: 30px;
   margin-top: 70px;
}
.about-icon{
    color: #11A0AD;
    margin-right: 5px;
}
.icon-text{
    font-family: sans-serif;
}
.icon-line{
    float: left;
    height: 35px;
    width: 1px;
    border: 1px dotted #9AA1A9;
    margin-top: 2px;
    margin-left: 20px;
    margin-right: 6px;
}
/* testimonial */
.testimonial-heading{
    padding-top: 50px;
}
.testimonial-line{
    height: 1px;
    width: 10%;
    border: 1px solid #F5BA17;
   margin-top: 2px;
   margin-bottom: 10px;
}
.testimonial-image img{
    border-radius: 50%;
}
.testimonial-name{
    margin-top: 20px;
    margin-left: 15px;
    font-family: sans-serif;
}
.testimonial-content{
    margin-bottom: 20px;
    padding-right:10px;
}
.sign{
    margin-left: 5px;
}
.testimonial-footer{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: small;
    color: #00eaff;
}
/* business-details */
.business-details{
    height: 300px;
    background-image: url("../img/sm-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}
.fluid-bg{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

.small-business{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}
.small-business-heading {
    padding-top:50px ;
    padding-left: 50px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.small-business-paragraph {
    padding-top:15px ;
    padding-left: 50px;
    padding-right: 160px;
    margin-bottom: 40px;
}

.business-list ul {
    list-style-type: none;
    font-family: sans-serif;
}
.business-icon{
    padding-right: 10px;
}

/* counter */
.counter{
    background-color: #129FB1;
}
.counter-line{
    margin-top: 45px;
    margin-bottom: 2px;
    height: 1px;
    width: 8%;
    border: 2px solid #F6BA19;
    margin-left: 30px;
}
.counter-number{
    color: white;
    margin-left: 25px;
    font-size: 50px;
    font-weight: bold;
}
.counter-content{
    color: white;
    margin-top: 17px;
    text-transform: uppercase;
    margin-left: 18px;
    margin-bottom: 30px;
    font-size: 13px;
    font-family: sans-serif;
}
.counter-bottom-line{
    height: 50px;
    width: 1px;
    border: 1px solid grey;
    float: left;
    margin-left: 40px;
}
/* advisors */
.advisors{
    background-color: #FAFBFD;
}
.advisor-heading{
    font-family: sans-serif;
    margin-top: 50px;
}
.advisor-line,.latest-news-line{
    height: 1px;
    width: 4%;
    border: 2px solid #F5BA17;
    margin-top: 5px;
    margin-bottom: 20px;
}
.advisor-image
{
    margin-top:10px;
   
    
}
.advisor-name{
   border-top: 2px solid #fdd804;
    margin-top:-4px;
    background-color: #273039;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 50px;
}
/* latest-news */
.latest-news{
    background-color: #F3F3F3;
}
.latest-news-heading{
    margin-top: 50px;
}
.latest-news-image-one{
  background-image: url("../img/12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}
.latest-news-image-two{
    background-image: url("../img/13.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
  }
  .latest-news-image-three{
    background-image: url("../img/14.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
  }
  .latest-news-image-four{
    background-image: url("../img/15.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
  }
.news{
    background-color:  rgba(51, 51, 53, 0.8);
    height: 100%;

}
.news-line{
    height: 60px;
    width: 1px;
    border: 1px solid #13A0B2;
    float: left;
  margin-left:10px ;
  margin-top: 30px;
  margin-right: 10px;

}
.news-content{
    padding-top: 50px;
    margin-top: 30px; 
    float: left;
}
/* partner */
.partners,.testimonial{
    background-image: url("../img/t-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.partner-heading,.get-in-touch-heading{
    margin-top: 50px;
    font-family: sans-serif;
}
.partner-line,.get-in-touch-line{
    height: 1px;
    width: 8%;
    border: 1px solid #F5BA17;
    margin-top: 5px;
    margin-bottom: 20px;
}
.partner-content{
    margin-top:20px ;
    margin-bottom: 30px;
    margin-right: 5px;
    color: rgb(158, 154, 154);
}
.partner-image{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* get-in-touch */
.get-in-touch-form{
   
    padding:20px ;
    margin-left: 10px;
    border: 5px solid #f0f0f1;
}
.get-in-touch-form input{
    padding: 10px;
    margin-bottom: 20px;
}
.get-in-touch-button {
  
    background-color: #13A0B2;
    color: white;
}
/* contact */
.contact{
    background-color: #13A0B2;
}
.contact-statement{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
}
.contact-btn
{
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    margin-top:25px;
    margin-left: 10px;
}
.btn-bg{background-color: #F6BB19;}
/* footer-top */
.footer-top{
    background-color:#202932 ;
}
.our-services-heading{
    color: white;
    font-family: sans-serif;
    margin-top: 30px;
}
.our-services-line{
    height: 1px;
    width: 25%;
    border: 1px solid #13A0B2;
    margin-top: 5px;
    margin-bottom: 25px;
}
.our-services-point{
    color:lightgray;
    font-size: 12px;
}
.our-services-point p{
    margin-bottom: 10px;
    margin-left: 5px;
}

/* footer-bottom */
.footer-bottom{
    background-color: #1B222A;
}
.copyright,.creator{
    margin-top:10px;
    margin-bottom: 10px;
    color: #13A0B2;
    font-size: 12px;
    font-family: sans-serif;
}